body
{
    margin:0 ;
    padding: 0;
}

/* Fonts */
@font-face
{
    font-family: HelveticaNeueCondensedBlack ;
    src : url(fonts/HelveticaNeueBlackCond.otf);
}
@font-face
{
    font-family: HelveticaNeueMedium ; 
    src : url(fonts/HelveticaNeueMedium.otf);
}
@font-face
{
    font-family: HelveticaNeueThin ;
    src : url(fonts/HelveticaNeueThin.otf);
}
@font-face
{
    font-family: HelveticaNeueCondensedBold ;
    src: url(fonts/HelveticaNeueCondensedBold.ttf);
}
::placeholder
{
    text-align: center ;
    font-family: HelveticaNeueMedium;
    color : #707070 ;
    
}
/* Navbar */

.nav
{
    background-color: #C7001A;
    height: 70px;
}

.nav img
{
    height: 80px;
    width: 80px ;
    margin-top : -5px;
}

#shareblood
{
    color : white ;
    font-family: HelveticaNeueCondensedBlack ;
    font-size: 25px;
    position: absolute ;
    top:22px;
    margin-left:-10px;
}

/* Body Part */

.firstbox
{
    width : 55%;
    height: 600px;
    float : left ;
    text-align: center ;
}
.firstbox img
{
    position: absolute;
    width: 800px ;
    height: auto ;
    opacity: 0.1;
    z-index: -1;
}
.smallbox
{
    
    width : 160px ;
    height: 50px;
    margin-top: 30px;
    margin-left : 22%;
    position: absolute;
    background-color: #ffffff ;
    text-align: center ;
}

#signuptext
{
    font-size: 30px;
    font-family: HelveticaNeueThin; 
    color: #2898E9 ;
}

.bigbox
{
    width: 55%;
    height: 500px;
    margin-top: 50px;
    border : 1px solid #2898E9 ;
    border-radius: 150px ;
    display: inline-block;
}


.bigbox input[type=email] , input[type=tel] , input[type=password] , input[type=text]
{
    font-family: HelveticaNeueMedium ;
    text-align: center ;
    width: 80%;
    height: 50px;
    background: rgba(255,255,255,0);
    border-radius: 25px ;
    border: none ;
    border: 1px solid #707070 ;

}

#agree
{
    color : #707070 ;
    font-family: HelveticaNeueThin ;
    
}

.bigbox input[type=submit] 
{
    width: 45% ;
    height : 45px;
    background-color: #C7001A ;
    border-radius: 25px;
    border : none ;
    color : #ffffff;
    font-size: 15px;
    font-family: HelveticaNeueMedium ;
    margin-top : 3% ;

}

.bigbox input[type=submit]:hover
{
    cursor: pointer;
}

.secondbox
{
    height: 500px;
    width: 40%;
    float : right ;
    margin-top : 100px;
    text-align: center ;
}

.secondbox img
{
    width : 300px;
    height: auto;
    
}

#sentence
{
    font-family: HelveticaNeueThin ;
    color : #707070 ;
    font-size: 20px;
    
   
}

/* Footer */
.footer
{
    text-align: center ;
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    color : #707070 ;
    word-spacing: 5px;
    font-family: HelveticaNeueThin ;
    font-size: 12px;
}

.footer a 
{
    color : inherit ;
    text-decoration: none ;
}
.footer a:hover
{
    text-decoration: underline ;

}
