body
{
    margin: 0 ;
    padding: 0;
}

.topSection
{
    width: 100% ;
    height: 100px ;
    background-color: #C7001A ;
}

#username
{
    position: relative;
    left :1015px ;
    top:  23px;
    width: 323px;
    height: 73px;
}